In [5]:
t=(1, 2, 3, 4, 5)
type(t)

tuple

In [7]:
t1=("Arsh", "Saxena")
type(t1)

tuple

In [8]:
#Tuples are iterable.
t2=("Arsh", "Saxena")
for i in t2:
    print(i)

Arsh
Saxena

In [11]:
t3=12345
for x in i:
    print(x)

TypeError: 'int' object is not iterable

In [12]:
t4=("Arsh", "Saxena")
length=0
for i in t4:
    length+=1
print(length)

2

In [20]:
#Tuples are immutable.
t5=("arsh", "Saxena")
t5[0]

'arsh'

In [17]:
l1=["arsh", "Saxena"]
id(l1)

945610455432

In [18]:
l1[0]="Arsh"

In [19]:
l1

['Arsh', 'Saxena']

In [21]:
t5[0]="Arsh"

TypeError: 'tuple' object does not support item assignment

In [22]:
t5

('arsh', 'Saxena')

In [29]:
l2=list(t5)
l2[0]="Arsh"
t5=tuple(l2)
t5

('Arsh', 'Saxena')