In [4]:
#Question 1
type(input())

Arsh

str

In [3]:
#Question 2
type(print())

NoneType

In [10]:
#Question 3
a=int(input("Enter a value for a:  "))
b=int(input("Enter a value for b:  "))
print(a+b)

Enter a value for a:  14
Enter a value for b:  2
16

In [5]:
#Question 4
name=input("Name: ")
age=input("Age: ")
print(name, age, sep=" -> ")

Name: Arsh
Age: 15
Arsh -> 15

In [16]:
#Question 5
name=input("Name: ")
age=input("Age: ")
print("My name is", name, "and my age is", age, ".")

Name: Arsh
Age: 15
My name is Arsh and my age is 15 .

In [24]:
#Question 6
Print("Manmohan","Gupta","Rahul","Janghu",sep="and")

NameError: name 'Print' is not defined

In [25]:
#Question 6
print("Manmohan","Gupta","Rahul","Janghu",sep="and")

ManmohanandGuptaandRahulandJanghu

In [26]:
#Question 6
print("Hello","VMCians")

Hello VMCians

In [40]:
#Question 7
print("Hello","VMCians!"), print("Are you excited?")

Hello VMCians!
Are you excited?

(None, None)

In [46]:
#Question 8
print("Hello","VMCians!", end="How are you?"), print("Are you excited?")

Hello VMCians!How are you?Are you excited?

(None, None)

In [48]:
#Question 9
print("Which of the following can’t be a variable in python: _name, 22, He22llo, Rahul?")
print("22")

Which of the following can’t be a variable in python: _name, 22, He22llo, Rahul?
22

In [35]:
#Question 10
a=int(input("Enter a value of a: " ))
b=int(input("Enter a value of b: " ))
Division=int(a/b)
print("Quotient =",Division)

Enter a value of a: 14
Enter a value of b: 2
Quotient = 7

In [50]:
#Question 11
print("Can we directly add two numbers taken as inputs from user without changing their datatype. Why?")
print("No, anything taken as input is classified as string and strings automatically.")

Can we directly add two numbers taken as inputs from user without changing their datatype. Why?
No, anything taken as input is classified as string and strings automatically.

In [51]:
#Question 12
print("Can we print any datatype using print function?")
print("Yes")

Can we print any datatype using print function?
Yes

In [52]:
#Question 13
print("a = 2, b = “2”. Sum = a + b. Guess the output also find the reason for the same?")
print("Error, because a is an integer while b is a string and integers and strings cannot be added")

a = 2, b = “2”. Sum = a + b. Guess the output also find the reason for the same?
Error, because a is an integer while b is a string and integers and strings cannot be added

In [54]:
#Question 14
print("Which of the following is an invalid statement: -> a, b = 4, 5 -> a_b = 1, 00 -> a b = 4, 5")
print("a b = 4, 5 is the invalid statement.")

Which of the following is an invalid statement: -> a, b = 4, 5 -> a_b = 1, 00 -> a b = 4, 5
a b = 4, 5 is the invalid statement.